*{
    /* outline: 1px solid red; */
}

.ms_section_green{
    background-color: #1abc9c;
}

.ms_section_green *{
    color: white;
}

.ms_section_white *{
    color: black;
}

.ms_header_section{
    background-color: #2C3E50;
}

.ms_star{
    width: 100%;
    height: 5px;
    background-color: white;
}

.bi.bi-star-fill{
    /* font-size: 2rem;
    width: 2rem;
    height: 2rem; */
}